* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}
:root {
    --white: #FFFFFF;
    --black: #000;
    --gray: gray;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.header-container {
    display: flex;
    align-items: center;
    height: 3.5rem;
    width: 100%;
    background-color: var(--white);
    font-size: 1.5rem;
}
.header-order {
    display: none;
}
.header-menu {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
.header-product-search-bar form {
    display: none;
}
.header-sesion-container nav {
    display: none;
}
.search-icon {
    display: flex;
    position: absolute;
    right: 0;
    top: 1px;
    width: 20px;
    height: 30px;
    align-items: center;
    margin-right: 1px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--black);
}
.pos-container {
    height: 100%;
    width: 100%;
    background-color: var(--black);
    display: flex;
    flex-direction: row;
}
.product-screen-container {
    width: 100%;
    height: 100%;
    padding: .1rem;
    display: grid;
    grid-template-columns: repeat(auto, 1fr);
    border: .1px solid var(--gray);
}
.product-display {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--white);
    /* display: flex; */
    /* grid-template-columns: repeat(3, 1fr);     */
}
.display-buttons-container {
    display: none;
}
.product-display-btn-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.btn-pay {
    width: 50%;
    height: 100%
}
.btn-resume {
    width: 50%;
    height: 100%
}